@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hiệu ứng hover cho phần tử trong danh sách */
.itemLi {
  position: relative; /* Cần để vị trí của tam giác được căn chỉnh chính xác */
  padding-right: 20px; /* Đảm bảo có không gian cho tam giác */
}

.itemLi:hover {
  border-left: 4px solid blue; 
  color: blue; 
  font-weight: bold; 
  background-color: #ffff; 
}
.itemLi:hover #main{
  background-color: rgba(0, 0, 0, 0.5);
}


.itemLi:hover::after {
  content: ''; 
  position: absolute;
  right: 0; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 0;
  height: 0;
  
  border-right: 7px solid #f3f4f6; 
  border-top: 7px solid transparent; 
  border-bottom: 7px solid transparent; 
}
.myvoucher {
  box-shadow: 0px 5px 5px 0px rgba(109,40,217,0.5);
}
